<app-page-header [heading]="'Customers'" [icon]="'fa fa-fw fa-user-circle'"></app-page-header>
<div class="card-block table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Customer Number</th>
            <th>Start Date</th>
            <th>EndDate</th>
            <th>Active</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{ customer.customerNumber}}</td>
                <td>{{ customer.startDate}}</td>
                <td>{{ customer.endDate}}</td>
                <td>{{ customer.active}}</td>
            </tr>
        </tbody>
    </table>
</div>
